name: 'BuildDLL'
on:
  push:
    branches:
      - 'master'
jobs:
  BuildDLL:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2.1.3
        with:
          go-version: 1.16
      - run: sudo apt install gcc-mingw-w64
      - uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: "nextzlog/zylo"
          version: "tags/zbuild"
          file: "zbuild-ubuntu"
          token: ${{secrets.GITHUB_TOKEN}}
      - run: sudo chmod a+x zbuild-ubuntu
      - run: ./zbuild-ubuntu
      - uses: crazy-max/ghaction-upx@v1
        with:
          files: real.dll
          args: --lzma -fq
      - uses: svenstaro/upload-release-action@v2
        with:
          tag: nightly
          file: real.dll
          overwrite: true
          file_glob: true
          repo_token: ${{secrets.GITHUB_TOKEN}}
